.button {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 10px;
  padding: 10px;
  background-color: #413e3e;
  color: white;
  font-size: x-large;
  border: 1px solid black;
  text-align: center;
}
.button--operator {
  background-color: orange;
}
.button--special {
  background-color: #b4afaf;
  color: black;
}